

<div class="row">
  <div class="col-md-12">
    
    
 

 <br><br>   
I always got lost in your endless blue eyes, <br>
You even manage to light up my dreamless dark nights <br>
Whenever I look in your eyes, <br>
I get lost in the ocean, so deep <br>
The amount of times i thought of you <br>
Always managed to make my heart skip a beat<br><br>
You're the first I see<br>
Bright morning out of bed <br>
And the last hour before I sleep<br>
Dont think for a second <br>
That I forgot about all the times you weeped<br>
Your life was never easy, <br>
Facing hardships through and through<br>
Yet you overcame, spread your wings and you flew.<br>
You've always been crazy <br>
But its okay, because im just as lazy <br>
I make it  obvious that you're special but you never got the clue<br>
I'll explain it again in person,
but until then<br>
Hold onto Mr Blue<br><br>

Happy Birthday Alien <3 <br><br>

~Your Monkey
<br>
  </div>
</div>
