<div class="container">
<div class="row">
<div class="col-md-12">
 <section id="main-slider" class="no-margin">
  <div class="carousel slide">
    
    <div class="carousel-inner">
      <!--<img width="950" alt="Angular Logo" src="https://img1.niftyimages.com/20l/xr1/242?"> -->
      <div class="item active" style="background-image: url(/assets/images/slider/giphy.gif)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1 style= "color: ghostwhite"><i> <br><br><br><br> </i><span class="logo"><i class="fa fa-diamond">
                      </i> Happy <span  style = "color: green"><b> SpawnDay</b></span> Brooke!👽</span></h1>
                <h2>~🙊</h2>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(/assets/images/slider/bg2.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                
                <a class="btn-slide" href="about-us.html">Read More</a> </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(/assets/images/slider/bg3.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              
            </div>
          </div>
        </div>
      </div>
      <!--/.item--> 
    </div>
    <!--/.carousel-inner--> 
  </div>
  <!--/.carousel--> 
 
   </section>
<!--/#main-slider-->
<div class="color-border"> </div>

</div>
</div>
</div>